<!--The content below is only a placeholder and can be replaced.-->
<div class='container-fluid'>
  <div class="row">
    <div class="col-sm-12">
      <h3>New Task</h3>
      <br>
      <form (submit)="createTask()">
        <div class="row">
          <div class="col-sm-2 label">Task</div>
          <div class="col-sm-3"><input type="text" name="newTask.title" [(ngModel)]="newTask.title"></div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-2 label">Description</div>
          <div class="col-sm-3"><input type="text" name="newTask.description" [(ngModel)]="newTask.description"></div>
          <div class="col-sm-1"></div>
          <div class="col-sm-1"><input type="submit" value="Add Task"></div>
        </div>
      </form>
      <hr>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h3>Current Tasks</h3>
        <div class="row task" *ngFor='let task of tasks'>
          <div class="col-sm-9">
            <div class="row"><h5>{{task.title}}</h5></div>
            <div class="row"><h6>{{task.description}}</h6></div>
          </div>
          <div class="col-sm-3">
            <div class="row"><button class="task-button" (click)='focusTask(task._id)'>Details</button></div>
            <div class="row"><button class="task-button" (click)='deleteTask(task._id)'>Delete</button></div>
          </div>
        </div>
        <div class="row">
        <button (click)='tasksFromService()'>Get Tasks</button>
      </div>
      </div>
      <div class="col-sm-6">
        <app-task *ngIf='!isEmpty(focusedTask)' [taskToShow]='focusedTask' (taskNeedsUpdate)="updateTask(focusedTask_id)"></app-task>
      </div>
    </div>
  </div>
</div>

