/* You can add global styles to this file, and also import other style files */
.task {
	border: 1px solid black;
}

.task-button{
	width: 100%;
}

.container-fluid{
	margin: auto;
	padding: 5%;
}

.max_width {
	width: 100%;
}

.label {
	width: 100%;
	background-color: lightgray;
}